.chart-card {
    width: 100%;
    height:100%;
    background: #ffffff;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.chart-header h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

.chart-header p {
    font-size: 1rem;
    color: #6b7280;
    margin-top: 2px;
}

.chart-actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.chart-actions button {
    background: #f9fafb;
    border: 1px solid #e5e7eb;
    padding: 6px;
    border-radius: 8px;
    transition: 0.2s;
}

.chart-actions button:hover {
    background: #f3f4f6;
}

.select-wrapper {
    position: relative;
}

.select-wrapper select {
    padding: 6px 28px 6px 10px;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    background: #ffffff;
    cursor: pointer;
}

.chart-wrapper {
    width: 100%;
    height: 300px;
    outline: none;
}

.group_legend {
    display: flex;
    align-items: center;
    padding-left: 4.5rem;
    gap: 3rem;
}

.legend {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.color {
    width: 1rem;
    height: 1rem;
}

.Food > .color{
    background-color: #FF7675;
}

.Health > .color{
    background-color: #0080FF;
}

.Accessories > .color{
    background-color: #655AFF;
}

.Services > .color{
    background-color: #00FF0D;
}

@media (max-width: 850px) { 
    .chart-card {
        display: none;
    }
}