.button {
    font-size: var(--font-size-button);
    color: white;
    height: 3rem;
    width: 100%;
    border: none;
    border-radius: 15px;
    background: #000000;
    margin-top: 0.6rem;
    transition: background 1s cubic-bezier(0.77, 0, 0.175, 1);
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(15, 15, 15, 1) 50%, rgba(51, 51, 51, 1) 100%);
}

.button:hover {
    background: linear-gradient(90deg,rgb(24, 24, 24) 0%, rgb(43, 43, 43) 50%, rgb(83, 83, 83) 100%);
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff; 
  animation: spin 1s ease-in-out infinite;
  margin: 0 auto; 
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}