.card_home {
    background: #101828;
    background: linear-gradient(90deg, rgba(16, 24, 40, 1) 0%, rgba(29, 40, 55, 1) 50%, rgba(53, 64, 82, 1) 100%);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 1.5rem;
    font-size: 0.9rem;
    box-shadow: 1px 1px 0.3rem rgba(0,0,0, 0.3);
    color: white;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header > .header_description {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header_icon {
    background-color: white;
    padding: 0.3rem;
    height: 2.5rem;
    border-radius: 15px;
}

.card_home_logo {
    text-align: center;
    background-color: #ff7373;
    border-radius: 5px;
    width: 55%;
    padding: 0.5rem;
}

.card_home_informations {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
    text-align: center;
    background-color: #EFF0F2;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 15px;
}

.card_home_principal {
    margin-bottom: 6rem;
}

.card_home_principal__title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card_home_principal__value {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1rem;
    font-size: 2.5rem;
}

.informations {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.informations > * {
    background-color: #2D3847;
    border: #414B58 solid 1px;
    width: 45%;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 15px;
}

.informations_montlyAvg__title, .informations_totalTransactions__title  {
    color: #75869d;
    font-size: 0.9rem;
}

.informations_montlyAvg__value, .informations_montlyAvg__quantity {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    font-size: 1.3rem;
}