.cards_analytics {
    background:
    linear-gradient(#f1f1f1b9, #d1d2d2),
    url("../../assets/AuthBackground.png");
    
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__analytics {
    font-size: 1.1rem;
    width: 90%;
}

.cards_graphics {
    margin-top: 2rem;
    width: 80%;
    height: 50rem;
}

.cards__home {
    display: flex;
    width: 80%;
    gap: 3rem;
    margin-top: 3rem;
}

.transactions {
    background-color: white;
    padding: 3rem;
    width: 80%;
    border-radius: 20px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.transactions__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border-radius: 12px;
}

.transactions__title {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #1A1A1A;
}

.transactions__subtitle {
    margin-top: 0rem;
    font-size: 1rem;
    color: #6B6B6B;
}

.transactions__year-selector {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #F4F6F9;
    padding: 6px 16px;
    border-radius: 20px;
}

.year-selector__btn {
    border: none;
    background: white;
    width: 3rem;
    height: 2rem;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    transition: 0.2s;
}

.year-selector__btn:hover {
    background: #eaeaea;
}

.year-selector__value {
    background-color: #182031;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 10px;
    font-weight: 600;

    font-weight: 300;
}

@media (max-width: 850px) {
    html {
        font-size: 60%; 
    }


    .cards__home {
        flex-wrap: wrap; 
        gap: 1.5rem; 
        width: 95%; 
        margin-top: 2rem;
    }

    .cards__home > .card__analytics {
        width: 100%; 
        font-size: 1.2rem;
    }

    .cards_graphics {
        height: 0;
    }
    .transactions {
        width: 95%; 
        padding: 1.5rem;
        margin-top: 1.5rem;
        height: 70rem;
    }
    .group_legend {
        margin: 0;
        padding: 0;
    }
    .transactions__header {
        flex-direction: column; 
        align-items: flex-start; 
        gap: 1.5rem; 
    }
    
    .options {
        display: flex;
        flex-wrap: wrap; 
        gap: 10px;
        width: 100%;
        justify-content: space-between; 
    }

    .transactions__year-selector {
        flex-grow: 1; 
        min-width: 140px;
        justify-content: center;
    }

    .transactions__subtitle {
        display: none; 
    }
}

@media (max-width: 480px) {
    .transactions__year-selector {
        flex-grow: 1;
        width: 100%;
    }
    .options {
        flex-direction: column;
    }
}
