.header_user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    border-bottom: rgb(195, 195, 195) solid 1px;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 1px 1px 0.7rem rgb(0,0,0,0.5);
}

.logo_header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 1.5rem;
    padding-left: 1rem;
}

.logo {
    width: 4rem;
    padding-right: 0.5rem;
    border-right: black solid 1px;
}

.list_header {
    background-color: #f2f3f5;
    border-radius: 15px;
    width: 13rem;
    height: 3rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.2rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    padding: 0.8rem;
}

.navbar > li {
    text-decoration: none;
    list-style-type: none;
    padding: 0.7rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.active_header {
    background-color: white;
    border-radius: 15px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 90%;
    box-shadow: 0.3px 0.3px 0.5rem rgb(0,0,0,0.5);
}

.btn_header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    width: 7rem;
    height: 2.4rem;
    font-size: 0.9rem;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem ;
}

.profile_person {
    font-size: 1rem;
}