input {
    width: 100%;
    height: 2.5rem;
    
    margin-top: 1rem;
    margin-bottom: 1.8rem;
    padding-left: 1.5rem;
    padding-right: 3rem;

    border: #E5E7EB 1px solid;
    border-radius: 15px;
    background-color: #F9FAFB;
    
    font-family: 'Inter';
    font-size: var(--font-size-input);
}

input:focus {
    outline: none;
    border-color: #787a7c;
}

label {
    font-size: var(--font-size-label);
}