.Auth {
    position: relative;
    background-image: url("../../assets/AuthBackground.png");
    background-position: 8%;
    background-repeat: no-repeat;

    width: 100%;
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    z-index: 0;
}

.Auth::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(236, 236, 236, 0.438); 
    backdrop-filter: blur(0px);
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 70%;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0.09rem 0.13rem 1rem rgba(0, 0, 0, 0.35);
}

.div_image {
    flex: 1;
    background-image: url("../../assets/signIN.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.div_input {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    background-color: white;
}

@media (max-width: 850px) {
    .container {
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    
    .div_image {
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0 0;
    }

    .div_input {
        padding: 2rem 1.5rem;
        border-radius: 0 0 20px 20px;
    }

    .div_input__Title > h1 {
        font-size: 1.4rem
    }

    .div_input__Title > p {
        font-size: var(--font-size-850-subtitle)
    }
}

@media (max-width: 480px) {
    body {
        background-image: none;
    }

    .Auth {
        width: 100%;
        height: 100%;
        padding: 0rem;
        align-items: start;
    }

    .container {
        display: flex;
        box-shadow: none
    }

    .div_input {
        padding: 0.5rem;
        border-radius:0;
    }

    .input_user {
        height: 2.8rem;
        font-size: 0.95rem;
    }

    .input__password {
        flex-direction: column;
    }

    .anchor {
        font-size: 0.95rem;
    }

    .SignUp {
        font-size: 1rem;
    }
}